@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
  font-family: 'Open Sans', sans-serif;
}

.editor.editor--outside {
  width: 1000px;
  margin: 50px auto;
  background: #EEE;
  position: relative;
  padding: 0px;
  border: 1px solid black;
}

.editor.editor--inside {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 300px;
  background: #EEE;
  padding: 0px;
  border: 1px solid black;
}

tr, thead {
  padding: 0px;
  border: 0px;
}

.cell--object {
  position: relative;
}

.cell--value {}

input {
  height: 2em;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  box-shadow: none;
}

td, th {
  text-align: center;
}

th, thead {
  background: #999999;
  color: #EEEEEE;
}
